@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.tab {
  display: none;
}

input.invalid {
  background-color: #ffdddd;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: -4.62%;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #04aa6d;
}

/************************HOME*****************************/
.banner {
  background-color: rgb(25, 28, 37);
  width: 100%;
  height: 100vh;
}

.headline {
  color: #fa9961;
  text-align: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.headline h2 {
  font-size: 60px;
  font-family: serif;
}

.headline h3 {
  width: 80%;
  margin: 20px auto 50px;
  font-weight: 100;
  line-height: 25px;
}

.orange {
  width: 100px;
  background-color: #fa9961;
  border: 1px solid #fa9961;
}
.orange:hover {
  border: 1px solid #fa9961;
}

/************************CREATE QUIZ*****************************/

#wrapperlightgrey {
  min-height: 90vh;
}

/************************END CREATE QUIZ*****************************/

/************************DISPLAY QUIZ*****************************/
.layout {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 800px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .layout {
    grid-template-columns: repeat(1, 1fr);
    width: 300px;
  }
  .layout div {
    display: flex;
    border: solid rgb(221, 221, 221);
    border-radius: 30px;

    align-items: center;
    justify-content: center;
    height: 200px;
  }
}
.layout div {
  display: flex;
  border: solid rgb(221, 221, 221);
  border-radius: 30px;

  align-items: center;
  justify-content: center;
  height: 200px;
}
.layout p {
  align-self: flex-end;
  align-self: auto;
  justify-content: left;
  font-family: 'Muli';
  font-size: 50px;
}

#homeLayout {
  margin-bottom: 6.62%;
}

/************************END HOME*****************************/

/********************************BOMB TIMER*************************************/
/*******************************bomb code inspired by Gabriele Corti : https://codepen.io/borntofrappe/pen/LwZRON ******************************/
svg {
  display: inline-block;
  width: 200px;
  height: auto;
}

#timerBomb[type='range'] {
  margin-top: 2.5rem;
  width: 300px;
  -webkit-appearance: none;
  height: 1rem;
  background: transparent;
  color: #0d3730;
  position: relative;
  cursor: e-resize;
  z-index: 10;
}
/* circle making up the thumb */
#timerBomb[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000000;
}
/* thin line  */
#timerBomb[type='range']:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fc6500;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -5;
}
/* ticks added at either end */
#timerBomb[type='range']:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-left: 2px solid #ff5100;
  border-right: 2px solid #ff6600;
  z-index: -5;
}
/********************************END BOMB TIMER*************************************/

/********************************START LOGIN/REGISTER PAGE*************************************/

#formDiv {
  background-color: rgb(25, 28, 37);
  min-height: 90vh;
  padding-top: 8%;
}

#titleForm {
  padding-top: 1%;
  padding-bottom: 2%;
  color: #fa9961;
  font-size: 50px;
}

#username {
  width: 25%;
  display: block;
  margin: 0 auto;
}

#password {
  width: 25%;
  display: block;
  margin: 0 auto;
  padding-top: 0.5%;
}

#confirmPassword {
  width: 25%;
  display: block;
  margin: 0 auto;
  padding-top: 0.5%;
}

#checkBoxWrapper {
  text-align: center;
}

#rememberme {
  position: absolute;
}

#labelForCheckbox {
  padding-left: 0.5%;
  color: #fa9961;
}

#submitButton {
  display: block;
  margin: auto;
  background-color: #fa9961;
  border-color: #fa9961;
  color: #191c25;
}

#submitButton:hover {
  background-color: #191c25;
  color: #fa9961;
}

#errorMessage {
  color: #ed4337;
  text-align: center;
  padding-top: 3%;
}

/********************************END LOGIN/REGISTER PAGE*************************************/

main {
  min-height: calc(100vh - 70px - 96px);
}

.quizContainer {
  cursor: pointer;
}
/********************************ANIMATION QUIZ TITLE****************************************/

.quizh1 {
  position: relative;
  font-size: 3.3em;
}

.quizh1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.quizh1 .letter {
  display: inline-block;
  line-height: 1em;
}

/********************************END ANIMATION QUIZ TITLE****************************************/

/********************************REGISTER PAGE -> RGPD****************************************/
#rgpd {
  color: white;
  font-style: italic;
  margin-top: 10px;
}
#termOfUse p {
  font-style: italic;
  margin-right: 25px;
  color: #fa9961;
  text-decoration: underline;
}
#termOfUse p:hover {
  color: #fa9961;
  cursor: pointer;
}
/********************************END REGISTER PAGE -> RGPD****************************************/
/***************************************START ADMIN PAGE*****************************************/
.rightTab {
  padding-right: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  max-height: 95vh;
  overflow-y: scroll;
  scrollbar-width: none;
}
.rightTab::-webkit-scrollbar {
  display: none;
}
.leftTab {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.wrapperAdmin,
.quizLink {
  background-color: rgb(25, 28, 37);
}
.quizLink {
  height: 5rem;
  padding: 1.25rem;
  /* border: none; */
}
.quizLink:hover {
  background-color: rgb(16, 19, 26);
}
.quizLink a {
  color: white;
}
.quizLink:hover a {
  color: #fa9961;
}
.adminBtn {
  color: white;
  /* border: none; */
  border-color: rgb(16, 19, 26);
  background-color: rgb(25, 28, 37);
}
.adminBtn.active,
.adminBtn:hover {
  color: #fa9961;
  /* border: none; */
  border-color: rgb(16, 19, 26);
  background-color: rgb(16, 19, 26);
}
/*****************************************END ADMIN PAGE*****************************************/
